<html>

<head>
        <title>cw2</title>
        <script src="https://unpkg.com/vue"></script>
        <link href="./style.css" rel="stylesheet" type="text/css" />


</head>

<body>
        <div id='app'>
                <span v-if='currentUser'>
                        {{currentUser}}

                        <button @click='signout'>Sign out</button>

                        <div v-for='course in results' class='course'>
                                <ul>
                                        <li v-for='(value, key) in course'>
                                                {{key}}: {{value}}
                                        </li>
                                </ul>
                        </div>


                </span>



                <span v-else>
                        <form>

                                <label for="email">Email</label>
                                <input required type="email" v-model="email">
                                <label for="password">Password</label>
                                <input required type="password" v-model="password">
                                <input type="radio" id="option1" value="student" v-model="userType">
                                <label for="option1">student</label>
                                <input type="radio" id="option2" value="provider" v-model="userType">
                                <label for="option2">provider</label>

                        </form>
                        <div v-for='user in users' class='course'>
                                <ul>
                                        <li v-for='(value, key) in user'>
                                                {{key}}: {{value}}
                                        </li>
                                </ul>
                        </div>


                        <button v-on:click='signup'>Sign up</button>
                        </form>

                        <button v-on:click='signin'>Sign in</button>
                        <button v-on:click='signout'>Sign out</button>

                        {{userMessage}}
                </span>

        </div>
        <script>
                var app = new Vue({
                        el: "#app",
                        data: {
                                currentUser: '',
                                email: '',
                                password: '',
                                userMessage: '',
                                userType: '',
                                courses: [],
                                users: [],
                                'term': '',
                                response:''
                        },
                        methods: {
                                signup: function () {
                                        var data = { email: this.email, password: this.password, userType: this.userType }

                                        fetch('http://localhost:3000/register/collections/users', {
                                                method: 'POST', // or 'PUT'
                                                headers: {
                                                        'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify(data),
                                        })
                                                .then((response) => response.json())
                                                .then((data) => {
                                                        console.log('Success:', data);
                                                        alert("registered")
                                                })
                                                .catch((error) => {
                                                        console.error('Error:', error);
                                                });



                                },

                                signin: function () {
                                        var data = { email: this.email, password: this.password, userType: this.userType }

                                        fetch('http://localhost:3000/login/collections/users', {
                                                method: 'POST', // or 'PUT'
                                                headers: {
                                                        'Content-Type': 'application/json',
                                                },
                                                body: JSON.stringify(data),
                                        })
                                                .then(function (response) {
                                                        return response.text()
                                                }).then(function (text) {
                                                    
                                                      alert(text);
                                                  this.currentUser=this.email
                                                      
                                                     
                                                }).catch(function (err) {
                                                        console.log('Fetch problem: ' + err.message);
                                                });










                                }












                                ,

                                signout: function () {

                                        this.currentUser = '';
                                        this.email = '';
                                        this.password = '';
                                }
                        }

                        ,
                        computed: {
                                results: function () {
                                        return this.courses.filter(course =>
                                                course.topic.includes(this.term)
                                        )
                                }
                        }
                })
                fetch('http://localhost:3000/collections/products')

                        .then(response => {

                                return response.json();
                        })


                        .then(response => {
                                // alert(response);
                                app.courses = response;
                        }).catch(function (err) {
                                console.log('Fetch problem: ' + err.message);
                        })



        </script>



</body>

</html>